{# configuration parameter for second language. put the 'code-ISO-second-language' or '' if there is not #}
{% set second_language = 'en' %}

{# setup TWIG variables ; base_route_index, base_route_url, help_message #}
{% set base_route_index = app.request.attributes.get('_route') %}
{% set base_route_url = base_route_index|split('_')[0] %}
{% set help_message = base_route_index|trans({},'help')|nl2br %}
{% if help_message ==  base_route_index %}
	{% set help_message =  base_route_index %}
{% endif %}


{# Main TWIG template of GOTIT application : BASE.HTML.TWIG #}

<!DOCTYPE html>

<html lang="{{ app.request.locale|split('_')[0] }}">
	<head>
		<meta
		http-equiv="Content-Type" content="text/html; charset=UTF-8">
		{# Meta, title, CSS, favicons, etc. #}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/ico"/>

		<title>
			{% block title %}
				GOTIT
			{% endblock %}
		</title>

		{% block stylesheets %}
			{# Bootstrap #}
			<link
			href="{{ asset('e3s/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
			{# Font Awesome #}
			<link
			href="{{ asset('e3s/vendors/font-awesome/css/all.min.css') }}" rel="stylesheet">
			{# Custom Theme Style #}
			<link
			href="{{ asset('e3s/css/custom.min.css') }}" rel="stylesheet">
			{# Nav Theme Style #}
			<link
			href="{{ asset('e3s/css/main.css') }}" rel="stylesheet">
			{# Bootgrid  #}
			<link
			href="{{ asset('e3s/vendors/bootgrid/jquery.bootgrid.min.css') }}" rel="stylesheet">
			{# typeaheadjs Style #}
			<link href="{{ asset('e3s/css/typeaheadjs.css') }}" rel="stylesheet">
		{% endblock %}

		{% block headincl %}{% endblock %}

	</head>
	<body>
		<div class="main-container">
			{% include "nav.html.twig" %}

			{# top navigation #}
			{% block topnav %}
				<nav class="top_nav">
					<div class="nav toggle">
						<a id="menu_toggle">
							<i class="fas fa-bars"></i>
						</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li class="">
							{% if app.user.username is defined %}
								<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									{{app.user.username}}
									{% if is_granted('ROLE_ADMIN') %}
										: ADMIN
									{% else %}
										{% if is_granted('ROLE_PROJECT') %}
											: PROJECT MEMBER
										{% else %}
											{% if is_granted('ROLE_COLLABORATION') %}
												: COLLABORATION MEMBER
											{% else %}
												{% if is_granted('ROLE_INVITED') %}
													: INVITED MEMBER
												{% endif %}
											{% endif %}
										{% endif %}
									{% endif %}
									<span class=" fas fa-angle-down"></span>
								</a>
								<ul class="dropdown-menu dropdown-usermenu pull-right">
									{% if is_granted('ROLE_PROJECT') %}
										<li>
											<a href="{{ path('user_index')}}{{app.user.id}}/edit">Profile</a>
										</li>
									{% endif %}
									<li>
										{% set requestUri = app.request.requestUri %}
										{% set locale = app.request.getLocale() %}
										{% set defaultLocale = app.request.getDefaultLocale() %}
										{% set pathRouteInArray = requestUri|split(['/', locale, '/']|join) %}
										{% set FlagUrilangageParameter = requestUri|split('langage=switch') %}
										{% set FlagUriParameter = requestUri|split('?') %}
										{% set UrilangageParameter = '' %}
										{% if second_language != '' %}
											{% if FlagUriParameter|length == 1 %}
												{% if FlagUrilangageParameter|length == 1 %}
													{% set UrilangageParameter = '?langage=switch' %}
												{% endif %}
											{% else %}
												{% if FlagUrilangageParameter|length == 1 %}
													{% set UrilangageParameter = '&langage=switch' %}
												{% endif %}
											{% endif %}
											{% if locale == defaultLocale %}
												{% if FlagUriParameter|length == 1 %}
													<a href="{{ [pathRouteInArray[0], ['/', second_language, '/']|join, pathRouteInArray[1], UrilangageParameter]|join }}">
														<i class="fas fa-flag-checkered pull-right"></i>
														{{'Switch version'|trans}}
														{{locale}}
														/
														{{second_language}}</a>
												{% else %}
													<a href="{{ [pathRouteInArray[0], ['/', second_language, '/']|join, pathRouteInArray[1], UrilangageParameter]|join }}">
														<i class="fas fa-flag-checkered pull-right"></i>
														{{'Switch version'|trans}}
														{{locale}}
														/
														{{second_language}}</a>
												{% endif %}
											{% else %}
												{% set pathRouteEnInArray = requestUri|split(['/', second_language, '/']|join) %}
												{% if FlagUriParameter|length == 1 %}
													<a href="{{ [pathRouteInArray[0], ['/', defaultLocale, '/']|join , pathRouteInArray[1], UrilangageParameter]|join }}">
														<i class="fas fa-flag-checkered pull-right"></i>
														{{'Switch version'|trans}}
														{{locale}}
														/
														{{defaultLocale}}</a>
												{% else %}
													<a href="{{ [pathRouteInArray[0], ['/', defaultLocale, '/']|join , pathRouteInArray[1], UrilangageParameter]|join }}">
														<i class="fas fa-flag-checkered pull-right"></i>
														{{'Switch version'|trans}}
														{{locale}}
														/
														{{defaultLocale}}</a>
												{% endif %}
											{% endif %}
										{% endif %}
									</li>
									<li>
										<a href="{{path('logout') }}">
											<i class="fas fa-sign-out pull-right"></i>
											Log Out</a>
									</li>
								</ul>

							{% endif %}
						</li>
					</ul>
				</nav>
			{% endblock %}
			{# top navigation #}

			{# page content #}
			<div
				class="main-content" role="main">
				{# help button #}
				{% block helpbutton %}
					<button class="btn btn-info pull-right" type="button" data-toggle="collapse" data-target="#page-help" aria-expanded="false" aria-controls="page-help">
						<i class="fas fa-question"></i>
					</button>
				{% endblock %}

				{% block titlepage %}{% endblock %}

				<ul>
					{% block action %}{% endblock %}
				</ul>

				<div class="collapse" id="page-help">
					<div class="well">
						{% block pagehelp %}
							{% if help_message is defined and help_message is not empty %}
								{{help_message|raw}}
							{% else %}
								Undefined
							{% endif %}
						{% endblock %}
					</div>
				</div>

				{% block body %}
					<div class="clearfix"></div>
				{% endblock %}

				{% block link %}
					<div class="clearfix"></div>
				{% endblock %}
			</div>
			{# /page content #}

			{# footer content #}
			{% block footer %}
				<footer>
					<div class="pull-right">
						©
						<a href="http://bbees.mnhn.fr">BBEES</a>
						2019 - GOTIT1.1.2 -
						<a href="{{ asset(['doc/legal_notices_', app.request.getLocale(), '.pdf']|join) }}" target="_blank">{{'legales_mentions'|trans}}</a>
					</div>
					<div class="clearfix"></div>
				</footer>
			{% endblock %}
			{# footer content #}
		</div>


		{# General Scripts #}
		{% block scripts %}
			{# jQuery #}
			<script src="{{ asset('e3s/vendors/jquery/dist/jquery.min.js') }}"></script>
			{# Bootstrap #}
			<script src="{{ asset('e3s/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
			{# Custom Theme Scripts #}
			<script src="{{ asset('e3s/js/options.min.js') }}"></script>
			<script src="{{ asset('e3s/js/e3s.js') }}"></script>
			<script src="{{ asset('e3s/js/nav.js') }}"></script>
			<script src="{{ asset('e3s/js/custom.min.js') }}"></script>
			{# Bootgrid  #}
			<script src="{{ asset('e3s/vendors/bootgrid/jquery.bootgrid.min.js') }}"></script>
			{# typeahead #}
			<script src="{{ asset('e3s/js/typeahead.bundle.min.js') }}"></script>
			{# Mustache templating engine #}
			<script src="{{ asset('e3s/vendors/mustache/mustache.js') }}"></script>
		{% endblock %}
		{#  Templates Scripts #}
		{% block templatescripts %}
			{#  Templates Scripts : index.html.twig / edit.html.twig ... #}
		{% endblock %}

	</body>
</html>
