<nav class="top-nav">
	<a id="menu-toggle">
		<i class="fas fa-bars"></i>
	</a>


	<ul class="nav navbar-nav navbar-right">
		<li class="">
			{% if app.user.username is defined %}
				<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					{{app.user.username}}
					:
					{{app.user.roles|first|trans}}
					<span class=" fas fa-angle-down"></span>
				</a>
				<ul class="dropdown-menu dropdown-usermenu pull-right">
					{% if is_granted('ROLE_PROJECT') %}
						<li>
							<a href="{{ path('user_index')}}{{app.user.id}}/edit">
								Profile
								<i class="fas fa-user pull-right"></i>
							</a>
						</li>
					{% endif %}
					<li>
						{% set requestUri = app.request.requestUri %}
						{% set locale = app.request.getLocale() %}
						{% set defaultLocale = app.request.getDefaultLocale() %}
						{% set pathRouteInArray = requestUri|split(['/', locale, '/']|join) %}
						{% set FlagUrilangageParameter = requestUri|split('langage=switch') %}
						{% set FlagUriParameter = requestUri|split('?') %}
						{% set UrilangageParameter = '' %}
						{% if second_language != '' %}
							{% if FlagUriParameter|length == 1 %}
								{% if FlagUrilangageParameter|length == 1 %}
									{% set UrilangageParameter = '?langage=switch' %}
								{% endif %}
							{% else %}
								{% if FlagUrilangageParameter|length == 1 %}
									{% set UrilangageParameter = '&langage=switch' %}
								{% endif %}
							{% endif %}
							{% if locale == defaultLocale %}
								{% if FlagUriParameter|length == 1 %}
									<a href="{{ [pathRouteInArray[0], ['/', second_language, '/']|join, pathRouteInArray[1], UrilangageParameter]|join }}">
										<i class="fas fa-flag-checkered pull-right"></i>
										{{'Switch version'|trans}}
										{{locale}}
										/
										{{second_language}}</a>
								{% else %}
									<a href="{{ [pathRouteInArray[0], ['/', second_language, '/']|join, pathRouteInArray[1], UrilangageParameter]|join }}">
										<i class="fas fa-flag-checkered pull-right"></i>
										{{'Switch version'|trans}}
										{{locale}}
										/
										{{second_language}}</a>
								{% endif %}
							{% else %}
								{% set pathRouteEnInArray = requestUri|split(['/', second_language, '/']|join) %}
								{% if FlagUriParameter|length == 1 %}
									<a href="{{ [pathRouteInArray[0], ['/', defaultLocale, '/']|join , pathRouteInArray[1], UrilangageParameter]|join }}">
										<i class="fas fa-flag-checkered pull-right"></i>
										{{'Switch version'|trans}}
										{{locale}}
										/
										{{defaultLocale}}</a>
								{% else %}
									<a href="{{ [pathRouteInArray[0], ['/', defaultLocale, '/']|join , pathRouteInArray[1], UrilangageParameter]|join }}">
										<i class="fas fa-flag-checkered pull-right"></i>
										{{'Switch version'|trans}}
										{{locale}}
										/
										{{defaultLocale}}</a>
								{% endif %}
							{% endif %}
						{% endif %}
					</li>
					<li>
						<a href="{{path('logout') }}">
							<i class="fas fa-sign-out-alt pull-right"></i>
							Log Out</a>
					</li>
				</ul>

			{% endif %}
		</li>
	</ul>
</nav>
