{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<!-- Modal window styles -->
	<link href="{{ asset('e3s/vendors/queryBuilder/query-builder.default.css') }}" rel="stylesheet">
{% endblock %}

{% block titlepage %}
	<h1>
		Query Builder
	</h1>
{% endblock %}

{% block body %}

{{ dump(meta) }}
	<div class='row'>
		<div
			class="col-xs-12">
			{# Formulaire #}
			{% include '@LehnaQueryBuilder/form.html.twig' %}
		</div>

		<hr>
		<div>
			<h2 id="results-title">
				<span>
					{% trans from 'queries' %}
					label.resultats
					{% endtrans %}
				</span>
			</h2>
			{% include '@LehnaQueryBuilder/results.html.twig' %}
		</div>
	</div>


{% endblock %}
{% block scripts %}
	{{ parent() }}
	<!-- Query Builder -->
	<script src="{{ asset('e3s/vendors/queryBuilder/query-builder.standalone.min.js') }}"></script>
	<script src="{{ asset('bundles/lehnaquerybuilder/js/main.js') }}"></script>
	<!-- interactive js for the form aspect and data included-->
	<script src="{{ asset('bundles/lehnaquerybuilder/js/demo-basic.js') }}"></script>
{% endblock %}

