{% extends '@LehnaQueryBuilder/base.queries.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<!-- Modal window styles -->
	<link href="{{ asset('e3s/vendors/queryBuilder/query-builder.default.css') }}" rel="stylesheet">
	<!-- Main QuerBuilder Style -->
 	<link href="{{ asset('bundles/lehnaquerybuilder/css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block titlepage %}
	<legend id="page-title">
		<h1 id="main-page-title">
			Query Builder
		</h1>
		<h1 id="logical-model-title">
			{% trans %}
			GOTIT Database Logical Model
			{% endtrans %}
		</h1>
		<a download class="button download-text" href="{{ asset('bundles/lehnaquerybuilder/images/S1_Gotitdb_V2_logical_model_en.jpg') }}"><i class="fa fa-download"></i>Download the Model</a>
		<div id="img-container" data-toggle="tooltip" data-placement="left" title="Click on the image to see the Logical Model of the Full Database">
			{% include '@LehnaQueryBuilder/logical.db.model.html.twig' %}
		</div>
		<h2 id="query-fields-title">
			{% trans %}
			Query fields
			{% endtrans %}
		</h2>
	</legend>
{% endblock %}

{% block body %}

	<div class='row'>
		<div 
			class="col-xs-12">
			{#Form #}
			{% include '@LehnaQueryBuilder/form.html.twig' %}
		</div>
	</div>
	<hr>
	<div>
		{% include '@LehnaQueryBuilder/results.html.twig' %}
		<button class="help-btn btn btn-info pull-right" id="myBtn" title="Go to top">
			<i class="glyphicon glyphicon-menu-up" style="font-size:20px"></i>
		</button>
	</div>

{% endblock %}

{% block scripts %}
	{{ parent() }}
	<!-- Query Builder -->
	<script src="{{ asset('e3s/vendors/queryBuilder/query-builder.standalone.min.js') }}"></script>
	<!-- interactive js for the form aspect and data included-->
	<script type="module" src="{{ asset('bundles/lehnaquerybuilder/js/main-test.js') }}"></script>
{% endblock %}
