{% extends '@LehnaQueryBuilder/base.queries.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<!-- Modal window styles -->
	<link href="{{ asset('e3s/vendors/queryBuilder/query-builder.default.css') }}" rel="stylesheet">
{% endblock %}

{% block titlepage %}
	<h1>
		Query Builder
	</h1>
{% endblock %}

{% block body %}

	<div class='row'>
		<div 
			class="col-xs-12">
			{#Form #}
			{% include '@LehnaQueryBuilder/form.html.twig' %}
		</div>
	</div>
	<hr>
	<div>
		{% include '@LehnaQueryBuilder/results.html.twig' %}
		<button class="help-btn btn btn-info pull-right" onclick="topFunction()" id="myBtn" title="Go to top">
			<i class="glyphicon glyphicon-menu-up" style="font-size:20px"></i>
		</button>
	</div>

{% endblock %}

{% block scripts %}
	{{ parent() }}
	<!-- Query Builder -->
	<script src="{{ asset('e3s/vendors/queryBuilder/query-builder.standalone.min.js') }}"></script>
	<!-- interactive js for the form aspect and data included-->
	<script type="module" src="{{ asset('bundles/lehnaquerybuilder/js/main.js') }}"></script>
{% endblock %}
